# Nuxt 3 / 4 & Nitro build outputs
.nuxt/
.output/
dist/
.nitro/
.cache/

# Node dependencies
node_modules/

# Agent folders & Custom Rules
.agent
.agents
.agents/
AGENTS.md
Noir UI/

# Logs & environment files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example

# IDE & System files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Custom skills lock
skills-lock.json
